*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/comicvine-inspection.json
**/comicvine-api-key
**/comicvine-api-key.tmp
__pycache__/
.env
.env.*
!.env.example

node_modules/
.firebase/
*-debug.log
*-debug.*.log
.secret.local
firebase-local-data/
